%table
  %thead
    %tr
      %th Date
      %th Work Start
      %th Work End
      %th Duration
      %th Tag


  - time_periods.each do |r|
    %tr
      %td= r.started_at.to_date
      %td= r.started_at.to_s(:time)
      %td= r.ended_at.try(:to_s, :time) 
      %td= r.duration
      %td= r.tag.name
