%ul.nav.nav-pills
  - @year_reports.each do |r|
    %li.nav-item= link_to r.title, user_report_path(current_user,r), class: "nav-link #{'active' if @year_report.title == r.title}"

%ul.nav.nav-pills
  - @month_reports.each do |r|
    %li.nav-item= link_to r.title, user_report_path(current_user,r), class: "nav-link #{'active' if @month_report.title == r.title}"

%h1 My Records

%table.table
  %thead
    %tr
      %th Date
      %th Work Start
      %th Break Start
      %th Break End
      %th Work End
      %th Break Time
      %th Work Time


  - @month_report.time_cards.each do |r|
    %tr
      %td= r.work_start.to_date
      %td= r.work_start.to_s(:time)
      %td= r.break_start.to_s(:time)
      %td= r.break_end.to_s(:time)
      %td= r.work_end.to_s(:time)
      %td= r.break_time
      %td= r.work_time
